language: python
python:
  - "3.7"
  - "3.8"
install:
  - python -m pip install --upgrade pip
  - pip install pipenv
  - pipenv install --dev
script:
  - pipenv run flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=tests/conftest.py
  - pipenv run flake8 . --count --exit-zero --extend-ignore=W503,W50 --max-complexity=10 --max-line-length=120 --statistics --exclude=tests/conftest.py
  - pipenv run coverage run -m pytest

after_sucess:
  codecov